/* Tâche finie barrée et fond différent */
#myList li.checked {
    background: rgb(202, 114, 114);
    text-decoration: line-through;
}
#myList{
    list-style: none;
    cursor : pointer;
}
* {
    box-sizing: border-box;
}